.header {
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	height: 50px;
	background-color: #FFF;
	flex-wrap: wrap;
	border-bottom: 1px solid #B2B2B2; // ?
}

.logo {
	text-decoration: none;
	font-size: 30px;
	cursor: pointer;
	color: #000;
	font-weight: bold;
	padding-left: 130px;
}

@media (max-width: 600px) {
  .logo {
    padding-left: 32px;
  }
}