/*arquivo de estilização da página de cadastro de nome (Register)*/

.page {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 16px;

  h1 {
    margin-top: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: 500; /*Medium*/
  }

  p {
    font-size: 20px;
  }

  strong {
    color: red;
    text-decoration-line: underline;
    text-decoration-color:indigo;
    font-weight: 900;
  }
}
